# Entornos virtuales
venv/
env/
.venv/
ENV/

# Archivos compilados y bytecode de Python
__pycache__/
*.py[cod]
*$py.class

# Cobertura y testing (pytest, coverage)
.pytest_cache/
.coverage
htmlcov/

# Variables de entorno
.env